    <employee-count [all]="getTotalEmployeesCount()"  
                    [sales]="getTotalSalesEmployeesCount()"
                    [internetSales]="getTotalInternetSalesEmployeesCount()"
                    (countRadioButtonChanged) ="onEmployeeCountRadioButtonChanged($event)"
                    
                    ></employee-count>



<br /><br />
    <table>
     
            <thead>
                <tr>
                  
                    <td>Name</td>
                    <td>Title</td>
                    <td>Action</td>

                </tr>
                
            </thead>
            <tbody>
                <!-- use ng-container to seperate the ngFor you can't use 2 ng directives on same element-->
            
                <ng-container *ngFor="let emp of employees; trackBy:trackByEmpName; ">

                    <!-- if selectedvalue is all or if selected value equal employee title, then display row-->
                    <tr 
                        *ngIf="selectedRadioButtonValue=='All' || selectedRadioButtonValue == emp.title">

                        <td>{{emp.name | uppercase}}</td>
                        <td>{{emp.title}}</td>
                        <td><button (click)="loadEmployeeDetail(emp)">Load</button></td>

                    </tr>
                </ng-container>
                <tr *ngIf="!employees || employees.length == 0">
                    <td colspan="3">No employees found</td>
                </tr>

            </tbody>
     
     
    </table>
<br />
<!--<div>
    <button (click)="clearEmployees()">clear</button>
</div>
<div>
    <button (click)="getEmployees()">Refresh</button>
</div>-->

<div *ngIf="employee">    
    <div>{{employee.Name}} Sold {{carsSold}} cars</div>

</div>